*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-contactos{
  background-color: aqua;
  display: block;
  text-align: right;
/*  padding-left: 0;*/
/*  padding-right: 0; */
}

@media (max-width:768px){
  .content-contactos{
    text-align: center;
  }
}

.content-contactos span {
  margin-left: 20px;
  display: inline-block;
  background-color: red;
}

@media (){
  
}